html {
  scroll-behavior: smooth;
}
body {
  background-color: rgb(155, 155, 155);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}
.container {
  width: 1440px;
  height: 5246px;
  margin: 0 auto;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  background-color: #0c0c0e;
}
.Welcome {
  background-image: url(Assets/Welcome_1.jpg);
  background-size: cover;
  width: 100%;
  height: 600px;
}
.About {
  width: 100%;
  height: 839px;
  background-color: red;
}
.Favorites {
  width: 100%;
  height: 1439px;
  background-color: yellow;
}
.CoffeShop {
  width: 100%;
  height: 841px;
  background-color: green;
}
.Contacts {
  width: 100%;
  height: 575px;
  background-color: violet;
}
.LibraryCard {
  width: 100%;
  height: 614px;
  background-color: orange;
}
.footer {
  width: 100%;
  height: 250px;
  background-color: brown;
}
h1 {
  font-family: forum;
  color: #ffffff;
  font-weight: 400;
  margin-top: 0;
  line-height: 50px;
}
.title {
  margin-left: 20px;
  height: 50px;
}
nav {
  height: 50px;
  width: 70%;
}
.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav-item {
}
.nav-link {
  text-decoration: none;
  color: #ffffff;
  padding: 0 0 0 30px;
  font-size: 20px;
  font-family: Inter;
}
.profile-icon {
  margin-right: 20px;
  margin-left: 10px;
  vertical-align: middle;
}
.gradient {
  width: 1440px;
  height: 300px;
  background: linear-gradient(black, rgba(255, 255, 255, 0));
}
.Welcome-to-Brooklin {
  box-sizing: border-box;
  position: relative;
  bottom: 61px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 3px;
  width: 600px;
  height: 220px;
  padding: 35px 40px;
  background-color: #0c0c0e;
  color: #ffffff;
  font-family: Forum;
  font-size: 40px;
}
@font-face {
  font-family: "Forum";
  src: url(Assets/Fonts/Forum-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: Inter;
  src: url(Assets/Fonts/Inter-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: Inter;
  src: url(Assets/Fonts/Inter-Bold.ttf);
  font-style: normal;
  font-weight: bold;
}
